{% extends "/layouts/base.html.twig" %}

{% block title %}{{ name }}{% endblock %}

{% block body %}

    <div class="site-error">

        <h1>{{ title }}</h1>

        <div class="alert alert-danger">
            {{ message | nl2br }}
        </div>

        <p>
            Произошла непредвиденная ошибка
        </p>

    </div>

{% endblock %}